@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:root {
    --main-color: #1892d4;
    --sec-color: #f0b42a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: max-content 1fr;
}

.sidebar {
    background-color: var(--main-color);
    grid-row: span 2;
    display: grid;
    grid-auto-rows: max-content;
    gap: 40px;
    padding: 0;
}

.user-tab,
.util-tab {
    display: grid;
    grid-auto-rows: max-content;
}

.sidebar a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 10px;
    margin-top: 10px;
}

.sidebar svg {
    width: 2.5rem;
    fill: white;
    margin-right: 10px;
}

.user-tab svg,
.util-tab svg {
    width: 1.2rem;
    margin-right: 20px;
}
.user-tab a,
.util-tab a {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 1rem;
} 

.header {
    background-color: white;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-auto-rows: max-content;
    padding: 15px clamp(5px, 5vw, 50px);
    gap: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.header svg {
    width: 1.5rem;
}

input[type='search']{
    appearance: none;
    border: 2px solid #e2e8f0;
    background-color: #e2e8f0;
    border-radius: 20px;
    flex-grow: 1;
    padding: 5px 10px;
    margin-left: 15px;
}

input[type='search']:focus {
    border: var(--sec-color) 2px solid;
    outline: none;
}

.greeting {
    grid-row: 2;
    display: flex;
    align-items: center;
}

.greeting > div :first-child{
    font-size: 0.8rem;
}

.greeting > div :last-child{
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.25px;
}

img {
    border-radius: 50%;
    width: 3rem;
}

.greeting img {
    width: 4rem;
    grid-row: span 2;
    margin-right: 15px;
}

.user-info {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;
}

.buttons {
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons button {
    color: white;
    background-color: var(--main-color);
    appearance: none;
    border: var(--main-color) 1px solid;
    padding: 10px 35px;
    border-radius: 20px;
}

.main {
    background-color: #e2e8f0;
}
